/*
 *	Welcome to the
 *	Menu CSS Style of 
 *	Split
 */

.container .article img
{
	height: 91px;
    width: 200px;
	border-radius:10px;

	border: inset 1px #FFF;
}
 
.article
{
	width:210px;
	height:140px;
	background:url("get.png");
	padding:5px;
	
	margin-bottom:5px;
	
	display:inline-block;
	
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	
	text-align:center;
	
	position:relative;
	
	overflow:hidden;
	
	-webkit-box-shadow: 0 1px 5px 1px #000;
	box-shadow: 0 1px 5px 1px #000;
}
.article:hover
{
	-webkit-box-shadow:inset 0 0 1000px 1px #888, 0 1px 5px 1px #000;
	box-shadow:inset 0 0 1000px 1px #888, 0 1px 5px 1px #000;
	
	transition-property:-webkit-box-shadow;
	transition-property:box-shadow;
	transition-duration:0.5s;
}

.article-text
{
	font-size:15px;
	padding:5px;
	display:table;
	text-align:left;
}

.gameDescrib .article-text,.gameDescrib .article-describ
{
	margin-left: 15px;
	float:left;
	clear:both;
	
}


.article-describ
{
	display:none;
	position:absolute;
	top:150px;
	left:0;
	padding:5px;

	overflow:hidden;
	
	background:url("get.png");
	width:210px;
	z-index:19;
}

.article:hover .article-describ
{	
	display:block;
	
	animation: marquee 8s linear infinite;	
	animation-delay:2s;
	
	-webkit-box-shadow:inset 0 0 1000px 1px #3D3D3D;
	box-shadow:inset 0 0 1000px 1px #3D3D3D;
	
	text-align:left;
}

.article a
{
	color:#000;
}

@keyframes marquee 
{
    0%   { top:   8em }
    100% { top: -11em }
}
	
.article-info
{
	opacity:0;
	position:absolute;
	right:-60px;
	background:#B5B5B5;
	z-index:20;
	font-family:"fontello";
	font-size:25px;
	padding:5px;
	
	border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
	
}
.describ-text
{
	margin-left: 40px;
	float:left;
}

.long-describ
{
	width:400px;
}

.article:hover .article-info
{
	opacity:1;
	right:0;
	transition:right ease 0.3s;
}
.article-info a:hover
{
	text-shadow: 0 0 6px #000;
}

.icon-info:hover
{
	cursor:pointer;
}
.icon-basket:hover
{
	cursor:pointer;
}

.gameDescrib
{
	width:100%;
	height:100%;
	
	background: #3d3d3d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YzhjOGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #3d3d3d 0%, #8c8c8e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(100%,#8c8c8e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3d3d3d 0%,#8c8c8e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3d3d3d 0%,#8c8c8e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3d3d3d 0%,#8c8c8e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3d3d3d 0%,#8c8c8e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#8c8c8e',GradientType=0 ); /* IE6-8 */

	position:fixed;
	top:0;
	left:0;
	z-index:100;
}
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/

.page-game
{
	margin-top:20px;
}

.page-game img
{
	margin-left:250px;
	width:400px;
	height:200px;
	float:left;
	
	float:left;
	
	border: inset 1px #FFF;
	
	-webkit-border-radius:15px;
	border-radius:15px;
}