/*
 *	Welcome to the
 *	Menu CSS Style of 
 *	Split
 */
 
.container .article img
{
	width: 400px;
}
 .container .article img
 {
	width : 100px;
	border-radius:10px;
	margin:22px;
	padding: 5px;
	border:3px solid #0c0c0c;
	text-align:center;
 }