.footer
{
	height:150px;
	
	text-align:left;
	
	background:none repeat scroll 0 0 #3D3D3D;
	
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom:27px;
}

.footer .foot_index
{
	float:left;
	margin-right: 25%;
}
.footer .foot_index:last-child
{
	margin-right: 0;
}
.footer .foot_index li
{
	list-style:none;
}