/*
 *	Welcome to the
 *	CSS Style of 
 *	Split
 */
 
*
{
	margin: 0;
	padding: 0;
}
 
 body
 {
	background: #f6f8f9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjhmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q3ZGVlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #d7dee3 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#d7dee3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#d7dee3 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#d7dee3 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#d7dee3 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#d7dee3 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#d7dee3',GradientType=0 ); /* IE6-8 */

	
	background-repeat:no-repeat;
	
	/* Provisoire size size of the body */
	height: 1000px;
 }
 
a
{
	color: #000;
	text-decoration: none;
}
a:hover
{
	color: #d7dee3;
	text-decoration: underline;
}

#panAcount
{
	background-color:grey;
	width:99%;
	height:25px;
	
	margin-right: auto;
	margin-left: auto;
	
	padding: 2px;
	
	-webkit-border-radius: 0 0 50px 100px;
	border-radius: 0 0 50px 100px;
}

#logo > img
{	
	width: 230px;
	heigh: 78px;;
}

.language
{
	min-width: 100px;
	float:right;
	
	margin-right: 10px;
}

.signIn
{
	float: right;
	
	margin-right: 10px;
	
	padding-right: 10px;
	
	border-right : solid #000 1px;
}
.overContainer
{
	position:fixed;
	left:228.5px;

	margin-top:79px;
	
	z-index: 100;
	
	border: dashed #aaa 3px;
	width: 800px;
	height: 500px;
	
	/*background-image:url('get.png');*/
	background:grey;
	opacity:0.9;
	-webkit-box-shadow: 0 0 100px 10px #000000;
	box-shadow: 0 0 100px 10px #000000;
	
}
.closeBtn > img
{
    left: 785px;
    position: relative;
    top: -20px;
    width: 35px;
}
.OCon {display: block;}
.OCoff {display: none;}

.connect
{
	padding: 10px;
}
.element
{
	width: 193px;
	margin-bottom:5px;
	display: inline-block;
}
hr
{
    background-color: #DDDDDD;
    border: 0 none;
    color: #DDDDDD;
	width:65%;
    height: 1px;
    margin: 10px 0;
    outline: 0 none;
    padding: 0;
	/*-moz-linear-gradient(center top , #5BC0DE, #2F96B4*/
	
	-webkit-box-shadow: 0 0 6px 0px #000000;
	box-shadow: 0 0 6px 0px #000000;
}
.hr-vert
{
	border-right: 1px solid #DDDDDD;
	box-shadow: 0 0 5px 1px #000000;
	color: #DDDDDD;
	height: 340px;
	left: 370px;
	margin: 0 10px 0 10px;
	outline: 0 none;
	padding: 0;
	position: absolute;
	width: 1px;
}
.form1
{
	font-size:18px;
	margin-top:50px;
	width:50%;
	float:left;
}
.form2
{
	font-size:18px;
	width:50%;
	float:right;
}

.genre
{
	width:60px;
	display:inline;
	margin-right:12px;
}
.date , .input
{
	display: inline;
}
.connect input
{
	margin-left:5px;
	padding-left:5px;
	padding-right:5px;
	border-radius: 0 12px 0 12px;
	border: inset grey 2px;
}
#submit
{
	margin-left:260px;
	color : #DDDDDD;
	
	font-size: 16px;
	font-weight:bold;
	
	padding-left:10px;
	padding-right:10px;
	border: outline #DDDDDD 3px;
	
	background:#6E91BE;
}
#submit:hover
{
	color: #FFF;
	
	border: inset #6E91BE 2px;
	
	-webkit-box-shadow: 0 0 2px 0px #DDD;
	box-shadow: 0 0 2	px 0px #DDD;
	
	cursor:pointer;
}

#body
{
	width: 900px;
	height: 100%;
	
	margin-top: 5px;
	
	margin-left: auto;
	margin-right: auto;
}

.container
{
	width: 100%;
	height: 100%;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
	border: solid black;
	
	clear: both;
}

.text
{
	text-align:center;
	font-size: 25px;
	
	padding-top:110px;
}