/*
 *	Welcome to the
 *	CSS Style of 
 *	Split
 */
 
*
{
	margin: 0;
}
 
 body
 {
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #d7dee3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(100%,#d7dee3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#d7dee3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#d7dee3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#d7dee3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#d7dee3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#d7dee3',GradientType=0 ); /* IE6-9 */
	
	background-repeat:no-repeat;
	
	/* Provisoire size size of the body */
	height: 1000px;
 }
 
a
{
	color: #000;
	text-decoration: none;
}
a:hover
{
	color: #d7dee3;
	text-decoration: underline;
}

#panAcount
{
	background-color:#00939B;
	width:99%;
	height:25px;
	
	margin-right: auto;
	margin-left: auto;
	
	padding: 2px;
	
	-webkit-border-radius: 0 0 50px 100px;
	border-radius: 0 0 50px 100px;
}

#logo > img
{
	display: block;
    float: left;
	
	width: 250px;
	heigh: 116px;
	
	margin-top: auto;
	margin-bottom: auto;
	
	margin-left: auto;
	margin-right: auto;
}

.lanquage
{
	min-width: 100px;
	float:right;
	
	margin-right: 10px;
}

.signIn
{
	float: right;
	
	margin-right: 10px;
	
	padding-right: 10px;
	
	border-right : solid #000 1px;
}

#body
{
	width: 900px;
	height: 100%;
	
	margin-top: 5px;
	
	margin-left: auto;
	margin-right: auto;
	
	/*border: solid #aaa 1px;*/

	/*-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0 -2px 5px 0 #aaa;
	box-shadow: 0 -2px 5px 0 #aaa;*/
}