
.icon-thumbs-up-alt:before { content: '\e812'; } /* '' */
.icon-thumbs-down-1:before { content: '\e80a'; } /* '' */
.icon-euro:before { content: '\e802'; } /* '' */
.icon-dollar:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */
.icon-user-add:before { content: '\e805'; } /* '' */
.icon-thumbs-up-2:before { content: '\e80f'; } /* '' */
.icon-thumbs-down-2:before { content: '\e810'; } /* '' */
.icon-download-1:before { content: '\e811'; } /* '' */
.icon-user-add-1:before { content: '\e80e'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e813'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e806'; } /* '' */
.icon-thumbs-down:before { content: '\e807'; } /* '' */
.icon-download:before { content: '\e808'; } /* '' */
.icon-comment:before { content: '\e80b'; } /* '' */
.icon-chat:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e80c'; } /* '' */
.icon-thumbs-up-1:before { content: '\e809'; } /* '' */
.icon-user-delete:before { content: '\e80d'; } /* '' */