/*
 *	Welcome to the
 *	Menu CSS Style of 
 *	Split
 */

*
{
	margin: 0px;
	padding: 0px;
}
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
.menu1
{
	display: inline-block;
	vertical-align:top;
	margin-right:575px;
	
	color: #DDDDDD;
	
	z-index: 1;
	
	font-family: 'Esteban', serif;
}

.menu1 a 
{
	text-decoration:none;
	color: #DDDDDD;
}

.menu1 .level1
{
	list-style: none;
}

.menu1 .level1>li
{
	padding-bottom:7px;
}

.menu1 .level1>li:hover
{
	cursor:default;
	
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}

.menu1 .level1>li>a:hover
{

}

.menu1 .level1>li:first-child:hover
{

}
.menu1 .level1>li:last-child:hover
{

}
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
.myGame
{
	background: #333;
	position: relative;
	line-height:70px;
	width:360px;
	height:91px;
	
	z-index:20;
}
.myGame:not(:last-child)
{
	border-bottom:solid #3D3D3D 2px;
}

.myGame:hover
{
	background:#444;
}
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
.menu1 .level2
{
	position:absolute;
	top:28px;
	display:none;
	list-style:none;
}
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
.g-img 
{
	display:inline-block;
	height:91px;
}
.g-img >img
{
	width:115px;
	height:91px;
}
.g-desc
{
	display:inline-block;
	vertical-align:top;
	text-align:left;
	width: 236px;
	height:90px;
}
.g-desc a
{
	display:block;
	height:91px;
	color:#FFF;
}
.g-desc a:hover
{
	text-decoration:none;
}
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
.menu1 .level2 li
{

}

.menu1 .level2>li:hover
{

}
.menu1 .level2>li>a:hover 
{

}

.menu1 .level2>li:first-child
{
	
}
.menu1 .level2>li:last-child:hover
{

}

.menu1 .level3
{
	/*display:none;*/
	opacity:0;
	list-style:none;
	left: 360px;
	right:auto;
	position: absolute;
	top: 1px;
}

.menu1 .level3 li
{
	display: inline-block;
	height: 90px;
	width: 130px;
	background:#3d3d3d;
	text-align:center;
	
	-webkit-transform:translateX(-130px);
	-moz-transform:translateX(-130px);
	transform:translateX(-130px);
	
	-webkit-transition: border-radius 0.1s ease 0.1s, 
				transform 0.3s,
				opactity 0.3s;
	-moz-transition: border-radius 0.1s ease 0.1s, 
				transform 0.3s,
				opactity 0.3s;
	transition: border-radius 0.1s ease 0.1s, 
				transform 0.3s,
				opactity 0.3s;
	opacity:0;
}

.menu1 .level3>li >a
{
	display:block;
	width: 130px;
	height: 90px;
	text-decoration:none;
}
.menu1 .level3>li >a:hover
{
}

.menu1 .level3>li:first-child
{
	
}

.menu1 .level2>li:hover
{

}

.menu1 .level3>li:first-child:hover
{

}
.menu1 .level3>li:last-child:hover
{
	
}
.myGame:hover  .level3>li
{
	border-radius: 0 0 15px 0 ;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity:1;
}
/*******************************************************************************************/
/*******************************************************************************************/
.menu1 .level1 >li:hover .level2
{
	display: block;
}

.menu1 .level2 >li:hover .level3
{
	/*display: block;*/
	opacity:1;
}

/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/

*
{
	padding:0px;
	margin:0px;
}

.menu2 a
{
	display: block;
}
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
#logo > img
{
	float: left;
	width: 250px;
	heigh: 116px;
	padding-left: 5px;
	padding-right: 5px;
	
}
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
.menu2
{
	float: left;
	display:table;
	position:relative;
	z-index: 10;
	width: 100%;
	
	margin-bottom: 5px;
	
	-webkit-border-radius:0 0 15px 15px;
	border-radius: 0 0 15px 15px;
	
	box-shadow:0 0 10px 1px #3D3D3D;
	
	list-style: none;
	background:none repeat scroll 0 0 #3D3D3D;
}

.menu2 .level1
{
	float: left;
	list-style: none;
	width:100%;	
	height: 78px;

}

.menu2 .level1 > li
{
	float: left;
	
	min-width: 70px;
	width: 103px;
	text-align: center;
	
	/*border-left: solid #ccc 1px;
	border-right: solid #ccc 1px;*/

    border-left: 1px solid #343434;
    border-right: 1px solid #343434;
	
	column-width:100px;
	-moz-column-width:100px; /* Firefox */
	-webkit-column-width:100px; /* Safari and Chrome */
}
.menu2 .level1 > li:nth-child(2)
{
	border-left: 2px solid #343434;
}

.menu2 .level1 > li:last-child
{
	width: 113px;
	
	border-right: none;
	
	-webkit-border-radius:0 0  15px 0;
	border-radius: 0 0 15px 0;
}


.menu2 .level1 > li > a
{
	list-style: none;
	line-height: 78px;
	
	text-decoration: none;
	color: #DDD;
}

.menu2 .level1 > li:hover
{
	background:#444;
	color:#FFF;
	-webkit-box-shadow:inset 1px 1px 10px 1px #000000;
	box-shadow:inset 1px 1px 10px 1px #000000;
	
	opacity: 0.6;
	filter:alpha(opacity=60);
	
	transition-property:opacity,box-shadow;
	transition-duration:0.6s;
	transition-delay:0.1s;
}

.menu2 .level2
{
	list-style: none;
	display:none;
}
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
#logo>img:hover
{	
	opacity: 0.6;
	filter:alpha(opacity=60);
	
	transition-property:opacity;
	transition-duration:0.6s;
	transition-delay:0.1s;
}
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
.menu2 .cart
{

}


.menu2 .level1 > li:last-child
{
	border-radius:0;
	opacity:1;
}

.menu2 .cart:hover .panier
{	
	transition-property:opacity;
	transition-duration:0.9s;
	opacity:1;
	z-index:10;
	height:400px;
	padding-top:10px;
}
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
.panier
{
	opacity :0;
	z-index:-2;
	position: absolute;
	left:500px;
	width: 400px;
	height:0px;
	overflow:hidden;
	
	padding-left: auto;
	padding-right: auto;
	
	background: #3D3D3D;
	
	border-radius: 0 0 15px 15px;
	
	-webkit-box-shadow: 0 -1px 5px 0 #000000;
	box-shadow: 0 -1px 5px 0 #000000;
}
.panier hr
{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
.cart-content
{
	height:;
	margin-left: auto;
	margin-right: auto;
}