@font-face
{
	font-family: airstrike;
	src: url('../font/devise/airstrike/airstrike.ttf');
}
@font-face
{	
	font-family: Mech ;
	src: url('../font/devise/mech_tech/Mech Tech.ttf');
}
@font-face
{	
	font-family: Old_R;
	src: url('../font/devise/old_republic/Old_R.ttf');
}
@font-face
{	
	font-family: Transformers;
	src: url('../font/devise/transformers_movie/Transformers Movie.ttf');
}
@font-face
{	
	font-family: Transmetals;
	src: url('../font/devise/transmetals/Transmetals.ttf');
}
@font-face
{	
	font-family: xirod;
	src: url('../font/devise/xirod/xirod.ttf');
}

.icon-euro, .icon-dollar
{
	font-family: Mech;
	font-size:20px;
	margin:0 5px 0 3px;
}

.icon-euro:after
{
	content:"€";
	font-family: Mech;
	font-size:23px;
	width:auto;
}

.icon-dollar:before
{
	content:"$";
	font-family: airstrike;
	font-size:23px;
	width:auto;
}

.cart_item .icon-euro:after, .cart_item .icon-dollar:before
{
	font-family:ExpletusSans-Medium;
	font-size:12px;
	margin:0 5px 0 3px;
}
.cart_item p
{
	font-size:12px;
}
.c_empty
{
    color: #DDDDDD;
    display: block;
    font-size: 25px;
    height: 107px;
    line-height: 107px;
    margin-top: 50px;
    text-shadow: 0 0 2px #000000;
    width: 400px;
}
.c_gre
{
	font-size:9px;
	margin-right:2px;
	cursor:pointer;
}
.c_gre:hover
{
	color:#333;
}
.c_gre:after
{
	content:",";
	color:#aaa;

}
.c_gre:last-child:after
{
	content:"";
}
